<section class="cid-s2FgaHHCii" id="image4-p">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container images-container">
            <div class="media-container-row" style="width: 80%;">
                <div class="img-item item1" style="width: 177%;">
                    <img src="/assets/images/background2.jpg">
                    
                </div>
                <div class="img-item">
                    <img src="/assets/images/background9.jpg">
                    
                </div>
            </div>
    </div>
</section>