<section class="mbr-section article content9 cid-s2FgoTgf2o" id="content9-11">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                    Mobirise является одним из самых простых инструментов разработки веб-сайтов, доступных сегодня. Это дает вам свободу развивать столько сайтов, сколько нравится, при том что это настольное приложение.
                </div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>