<section class="counters3 counters cid-s2Fg1yOnEY" id="counters3-j">

    

    

    <div class="container pt-4 mt-2">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                    Счетчики и медиа
        </h2>
        <h3 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">
            Адаптивный блок с счетчиками и медиа. 
        </h3>
        <div class="media-container-row">
            <div class="media-block m-auto" style="width: 49%;">
                <div class="mbr-figure">
                    <img src="/assets/images/background6.jpg">
                </div>
            </div>
            <div class="cards-block">
                <div class="cards-container">
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-center">
                            <div class="card-img pr-3 d-flex align-items-center align-left">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    100
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Безлимитно
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Mobirise дает возможность разрабатывать сайты по вашему вкусу и без ограничений по количеству.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-center">
                            <div class="card-img pr-3 d-flex align-items-center align-left">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    200
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Трендовые блоки
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                    Большой выбор готовых блоков.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-center">
                            <div class="card-img pr-3 d-flex align-items-center align-left">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    300
                                </h3>
                            </div>
                            <div class="card-text">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Bootstrap
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        Bootstrap  - это лучшая отзывчивость 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card px-3 align-left col-12">
                        <div class="panel-item p-4 d-flex align-items-center">
                            <div class="card-img pr-3 d-flex align-items-center align-left">
                                
                                <h3 class="count py-3 mbr-fonts-style display-2">
                                    400
                                </h3>
                            </div>
                            <div class="card-texts">
                                <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                    Веб-шрифты
                                </h4>
                                <p class="mbr-content-text mbr-fonts-style display-7">
                                        Mobirise легко и просто подключает на ваш сайт шрифты Google.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>