<section class="header3 cid-s2FfSNLdJx mbr-parallax-background" id="header3-c">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 100%;">
                <img src="/assets/images/background2.jpg" alt="Mobirise">
            </div>

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    Интро с картинкой
                </h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Интро в полную ширину с фоновым изображением, наложением цвета и картинкой слева. Размер изображения можно изменить в параметрах блока.
                    </p>
                </div>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-primary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">ДЕМО</a>
                </div>
            </div>
        </div>
    </div>

</section>