<section class="mbr-section content8 cid-s2FgEvVUd9" id="content8-1b">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">ДЕМО</a>
                </div>
            </div>
        </div>
    </div>
</section>