<section class="header7 cid-s2FfUgFbDr" id="header7-d">

    
    <div class="container">
        <div class="media-container-row">

            <div class="media-content align-right">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    Интро с видео
                </h1>
                <div class="mbr-section-text mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
                        Интро с цветом фона, подложкой и видео справа. Mobirise помогает сократить время разработки, предоставляя гибкий редактор веб-сайта с интерфейсом перетаскивания.
                    </p>
                </div>
                <div class="mbr-section-btn">
                        <a class="btn btn-md btn-primary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                        <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">ДЕМО</a>
                </div>
            </div>

            <div class="mbr-figure" style="width: 100%;"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>

        </div>
    </div>
</section>