<section class="cid-s2Fg7Rvp2Q" id="image2-n">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/assets/images/background4.jpg" alt="Mobirise" title="">
            <figcaption class="mbr-figure-caption mbr-figure-caption-over">
                <div class="pb-5 px-3 mbr-white align-center mbr-fonts-style display-1">
                    Создавайте потрясающие сайты!
                </div>
            </figcaption>
        </div>
    </figure>
</section>