<section class="mbr-section content7 cid-s2FgDeNZ2r" id="content7-1a">
          
    

    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">
                               <strong>Сделайте свой сайт за несколько кликов!</strong> Mobirise сокращает время разработки, предоставляя вам гибкий редактор сайтов с интерфейсом простого перетаскивания. Идеально адаптирован <em>для мобильных сайтов</em> в несколько кликов. Mobirise является одним из самых простых инструментов разработки сайтов, доступных сегодня.
                            </p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 60%;">
                     <img src="/assets/images/background1.jpg" alt="Mobirise">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>