<section class="mbr-section article content12 cid-s2FgvB8vkG" id="content12-16">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ul>
                    <li><strong>МОБИЛЬНАЯ АДАПТАЦИЯ</strong> - не требуются специальные действия, все сайты, которые вы делаете с Mobirise, автоматически адаптируются для мобильных устройств. Вам не нужно создавать специальную мобильную версию вашего сайта, <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                    <li><strong>ЛЕГКО И ПРОСТО</strong> - сократите время разработки. Перетащите блоки на страницу, отредактируйте содержимое и публикуйте. Никаких технических навыков не требуется. <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                    <li><strong>УНИКАЛЬНЫЕ СТИЛИ</strong> - большой выбор готовых блоков - полноэкранное интро, bootstrap-карусель, слайдеры, галереи изображений с лайтбоксом, параллакс, фоновым видео, меню-гамбургером и липким меню. <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>