<section class="mbr-section article content11 cid-s2FgunMppL" id="content11-15">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <ol>
                    <li><strong>МОБИЛЬНАЯ АДАПТАЦИЯ</strong> - никаких специальных действий не требуется, все сайты, которые вы делаете с Mobirise являются мобильными. Вам не придется создавать специальную мобильную версию вашего сайта, она будет адаптироваться автоматически. <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                    <li><strong>ЛЕГКО И ПРОСТО</strong> - сократите время разработки. Перетащите блоки на страницу, отредактируйте содержимое и публикуйте. Никаких технических навыков не требуется. <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                    <li><strong>УНИКАЛЬНЫЕ СТИЛИ</strong> - большой выбор готовых блоков - полноэкранное интро, bootstrap-карусель, слайдеры, галереи изображений с лайтбоксом, параллакс, фоновым видео, меню-гамбургером и липким меню. <a href="https://mobirise.co/">Попробуйте сейчас!</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>