<section class="engine"><a href="https://mobirise.info/r">free bootstrap templates</a></section><section class="cid-s2FfEYWUvj mbr-fullscreen mbr-parallax-background" id="header2-1">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    ИНТРО В ПОЛНЫЙ ЭКРАН
                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Щелкните любой текст для редактирования содержания или стиля. Выберите текст для вставки ссылки. Нажмите значок шестеренки в правом верхнем углу, чтобы скрыть/показать кнопки, текст, название и изменить фон блока. Нажмите красную кнопку "+" в правом нижнем углу, чтобы добавить новый блок. Используйте меню вверху слева для создания новых страниц, сайтов и добавления тем.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-secondary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                    <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">ДЕМО</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>