<section class="header10 cid-s2FfO0gHhE mbr-fullscreen mbr-parallax-background" id="header10-8">

    

    

    <div class="container">
        <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10">
            <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                ИНТРО В ПОЛНЫЙ ЭКРАН
            </h1>
            
            <p class="mbr-text pb-3 mbr-fonts-style display-5">
               Click any text to edit or style it. Select text to insert a link. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background.</p>
            <div class="mbr-section-btn">
                <a class="btn btn-md btn-primary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">ДЕМО</a>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>