<section class="mbr-gallery gallery5 cid-s2Fgiio37Z" id="gallery5-w">

    

    

    <div class="container">
        <h3 class="mbr-section-title align-center mbr-fonts-style display-2">
            Галерея
        </h3>
        <h4 class="mbr-section-subtitle align-center pb-4 mbr-fonts-style display-5">
            Enter Gallery Subtitle here.
        </h4>
        <div class="row mbr-gallery" data-toggle="modal" data-target="#s2Ofrqq6JH">
            <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
                <div class="item-wrapper">
                    <img class="w-100" src="/assets/images/background1.jpg" alt="" data-slide-to="0" data-target="#s2OfrqqVes">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
                <div class="item-wrapper">
                    <img class="w-100" src="/assets/images/background2.jpg" alt="" data-slide-to="1" data-target="#s2OfrqqVes">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
                <div class="item-wrapper">
                    <img class="w-100" src="/assets/images/background3.jpg" alt="" data-slide-to="2" data-target="#s2OfrqqVes">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
                <div class="item-wrapper">
                    <img class="w-100" src="/assets/images/background4.jpg" alt="" data-slide-to="3" data-target="#s2OfrqqVes">
                </div>
            </div>
        </div>

        <div class="modal mbr-slider fade" tabindex="-1" role="dialog" aria-hidden="true" id="s2Ofrqq6JH">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel slide" data-ride="carousel" id="s2OfrqqVes">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/assets/images/background18.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/assets/images/background29.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/assets/images/background310.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/assets/images/background411.jpg" alt="">
                                </div>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" class="active" data-target="#s2OfrqqVes"></li>
                                <li data-slide-to="1" data-target="#s2OfrqqVes"></li>
                                <li data-slide-to="2" data-target="#s2OfrqqVes"></li>
                                <li data-slide-to="3" data-target="#s2OfrqqVes"></li>
                            </ol>
                            <a role="button" href="" class="close" data-dismiss="modal" aria-label="Close">
                            </a>
                            <a class="carousel-control-prev carousel-control" role="button" data-slide="prev" href="#s2OfrqqVes">
                                <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                                <span class="sr-only">Назад</span>
                            </a>
                            <a class="carousel-control-next carousel-control" role="button" data-slide="next" href="#s2OfrqqVes">
                                <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                                <span class="sr-only">Вперед</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>