<section class="header6 cid-s2FfJtDhyG mbr-fullscreen" data-bg-video="https://www.youtube.com/watch?v=36YgDDJ7XSc" id="header6-5">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    ИНТРО С ФОНОВЫМ ВИДЕО
                </h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Интро с фоновым видео и наложением цвета. Mobirise сокращает время разработки сайта, предлагая гибкий редактор с интерфейсом простого перетаскивания.
                </p>
                <div class="mbr-section-btn align-center">
                        <a class="btn btn-md btn-primary display-4" href="https://mobirise.co">ПОДРОБНЕЕ</a>
                        <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co">ДЕМО</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>